<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- footer 内容 -->
<footer th:fragment="footer-content" class="footer text-right" style="background: #333">
    2017 © <a th:href="@{https://github.com/rednodesky/sea-blog}" target="_blank">sea-blog</a><div class=""></div>
</footer>

<!-- footer 引入js 优化加载速度 -->
<body th:fragment="footer-lib">
    <script th:src="@{/static/lib/jquery-1.11.3.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <script th:src="@{/static/lib/moment.js}"></script>
    <script th:src="@{/static/lib/app.js}"></script>
    <script th:src="@{/static/lib/jquery.easyfader.min.js}"></script>
    <script th:src="@{/static/lib/underscore-min.js}"></script>
    <script th:src="@{/static/lib/TweenLite.min.js}"></script>
    <script th:src="@{/static/lib/wangEditor.js}"></script>
    <script th:src="@{/static/lib/amazeui.min.js}"></script>
    <script th:src="@{/static/lib/amazeui.ie8polyfill.min.js}"></script>
    <script th:src="@{/static/lib/amazeui.widgets.helper.min.js}"></script>
    <script th:src="@{/static/lib/Namespace.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/lib/scrollReveal.js}"></script>
    <script  th:src="@{/static/js/nav.js}"></script>
    <script  th:src="@{/static/js/search.js}"></script>
</body>

</html>