<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="headerFragment">
    <meta charset="utf-8"/>
    <title>
        <th:block>My Blog</th:block>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="Coderthemes" name="author"/>
    <meta name="API-PATH" content="localhost:8090" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" th:href="@{/static/imgs/favicon.png}"/>
    <!--<link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/admin/css/style.min.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/static/css/amazeui.min.css}" rel="stylesheet"/>-->
</head>

<div th:fragment="header-body" >
    <header>
        <!--menu begin-->
        <div class="menu">
            <nav class="nav" id="topnav">
                <li class="logo"><a href="https://github.com/rednodesky/sea-blog">博客</a></li>
                <li><a href="/">网站首页</a></li>
                <li><a href="/category"><span>归档</span></a></li>
                <li><a href="/about">关于我</a></li>
                <li><a href="/comment">留言</a></li>
                <!--search begin-->
                <div id="search_bar" class="search_bar" style="float: left;margin-left: 200px">
                    <form id="searchform" action="/search" method="post" name="searchform">
                        <input class="input" placeholder="" type="text" name="q" id="keyboard">
                        <input type="hidden" name="Submit" value="搜索"/>
                        <span class="search_ico"></span>
                    </form>
                </div>

                <div>
                    <span shiro:authenticated="true">
                        <span>欢迎您：<span th:text="${user.loginName}"></span></span>
                        <span><a href="/blog/create">写文章</a></span>
                        <span><a href="logout">注销</a></span>
                        <!--<div th:if="">-->
                            <!--<image href="" height="" width="" th:src="${user.icon}"></image>-->
                        <!--</div>-->
                    </span>
                </div>
                <div>
                    <p shiro:guest="">
                        <a class="hoverClass" style="color: #bdbdbd;" href="/login">登录</a>
                        <!--<a class="hoverClass" style="padding-left: 10px;color: #bdbdbd;" href="/register">注册</a>-->
                    </p>
                </div>
            </nav>
        </div>
    </header>
</div>

</html>
