<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/m.css" rel="stylesheet">
<div th:replace="common/head :: headerFragment"></div>
<!--</head>-->
<body>
<div th:replace="common/head :: header-body"></div>
<article>
    <div>
        <h2>个人简介</h2>
        <div >
            <span></span>
        </div>
        <div>
            <ul>
                <li><a href="javascript:;">基本信息</a></li>
                <li><a href="javascript:;">工作技能</a></li>
                <li><a href="javascript:;">我的项目</a></li>
                <li><a href="javascript:;">我的博客</a></li>
            </ul>
        </div>
        <div >
            <div class="content">
                <div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="content">
                <div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="content">
                <div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="content">
                <div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</article>

<div th:replace="common/footer :: footer-content"></div>
<div th:replace="common/footer :: footer-lib"></div>
<script src="static/js/about.js"></script>
</body>
</html>