<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:wb=“http://open.weibo.com/wb”
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/m.css" rel="stylesheet">
<link href="/static/css/category.css" rel="stylesheet">
<!--<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>-->
<div th:replace="common/head :: headerFragment"></div>
<!--</head>-->
<body style="background-color: #fff;">
<div th:replace="common/head :: header-body"></div>

<article style="min-height: 778px;padding-bottom:20px;" th:data-blog-id="${blog.blogId}">
    <div class="article" style="margin: 0 auto;width: 620px">
        <h1 class="title" style="font-size: 34px;font-weight: 700;line-weight:1.3;margin: 20px 0 0;" th:text="${blog.title}"></h1>
        <div class="author-info" style="margin: 30px 0 40px;">
            <a class="icon" href="/" style="width: 48px;height: 48px;display:inline-block;vertical-align:middle;" ><img style="width: 100%;height: 100%" th:src="${author.icon}? #{author.icon} : @{/static/imgs/avatar.png}"></img></a>
            <div class="info" style="display:inline-block;vertical-align:middle;">
                <span>鱼跃此时海</span><!--th:text="${author.nickName}"-->
                <div class="meta">
                    <span class="last-update" th:text="${author.updateTime}"></span>
                    <span class="views-count" ></span>
                    <span class="comments-count"></span>
                    <span class="likes-count"></span>
                </div>
            </div>
        </div>
        <div class="pic"></div>
        <div class="content" th:utext="${blog.content}"></div>

    </div>
    <!--<div class="content-foot" style="margin: 0 0 30px 0;width: 620px;" >-->
        <!--<div class="copyright" style="float: right;">-->
            <!--© 著作权归作者所有-->
        <!--</div>-->
    <!--</div>-->
    <div class="share" style="margin: 0 auto;width: 620px">
        <wb:share-button style="float:right" addition="simple"  language="zh_cn" type="button" size="small" ></wb:share-button>
    </div>
    <div class="comment detail-comment-form" style="margin: 0 auto;width: 620px">
        <div class="comment-list">

        </div>
        <div>
            <input type="hidden" id="commentId" />
            <input type="hidden" id="parentId" />
            <form  id="comment-form" class="comment-form">
                <input style="max-width: 250px;"  class="form-control input-control clearfix"  name="name" placeholder="姓名(*)">
                <input  style="max-width: 250px;"  class="form-control input-control clearfix" name="email" placeholder="邮箱(*)">
                <textarea name="content" th:data-blog-id="${blog.blogId}"  class="form-control"  placeholder="写下你的评论..." minlength="5"></textarea>
                <button style="margin-right: 20px;" class="submit"  onClick="return false;"  >提交</button>
            </form>
        </div>
    </div>
</article>

<!--<script type="text/x-handlebars-template" id="replyTemplate">-->
    <!--<form   class="comment-form reply-form">-->
        <!--<input style="max-width: 250px;"  class="form-control input-control clearfix" name="name" placeholder="姓名(*)">-->
        <!--<input  style="max-width: 250px;"  class="form-control input-control clearfix" name="email" placeholder="邮箱(*)">-->
        <!--<textarea name="content"  class="form-control"  placeholder="写下你的评论..." minlength="5"></textarea>-->
        <!--<button style="margin-right: 20px;" class="submit" >提交</button>-->
    <!--</form>-->
<!--</script>-->


<script type="text/x-handlebars-template" id="dataTemplate">
    {{#each this}}
        <li class="comment-body comment-parent comment-odd " data-parent-id="{{commentId}}" data-scroll-reveal="enter bottom over 1s" style="margin-bottom: 20px;">
            <div class="comment-view" >
                <div class="comment-header">
                    <span class="comment-author" style="margin:0 0 0 0">
                        <a href="javascript:;" target="_blank" rel="external nofollow">{{userName}}:  {{content}}</a>
                    </span>
                    <button class="reply" data-user-name="{{userName}}"  data-comment-id="{{commentId}}" style="float: right;margin-top:20px;" >回复</button>
                    <button  class="cancelReply reply"  style="display: none;float:right;margin-top:20px;">取消回复</button>
                </div>
                <div class="comment-meta">
                    <time class="comment-time"  >{{moment createTime}}</time>
                </div>
                {{#if children.length}}
                    {{#each children}}
                        <div class="comment-header" style="margin-left: 10px;" >
                            <span class="comment-author" style="margin:0 0 0 0">
                                <a href="javascript:;" target="_blank" rel="external nofollow">{{userName}}:@{{replyName}}  {{content}}</a>
                            </span>
                            <button data-user-name="{{userName}}"  class="reply" data-comment-id="{{commentId}}" style="float:right;margin-top:20px;">回复</button>
                            <button    class="cancelReply reply"  style="display: none;float:right;margin-top:20px;">取消回复</button>
                        </div>
                        <div class="comment-meta" style="margin-left: 10px;">
                            <time class="comment-time"  >{{moment createTime}}</time>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </li>
    {{/each}}
</script>


<div th:replace="common/footer :: footer-content"></div>
    <a href="#" class="cd-top">Top</a>
<div th:replace="common/footer :: footer-lib"></div>

<script src="/static/js/blogDetail.js"></script>

</body>
</html>