<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<link th:href="@{/static/css/base.css}"  rel="stylesheet">
<link th:href="@{/static/css/index.css}" rel="stylesheet">
<link  th:href="@{/static/css/m.css}"   rel="stylesheet">
<div th:replace="common/head :: headerFragment"></div>
<!--</head>-->
<body>
<div th:replace="common/head :: header-body"></div>
<article  style="min-height: 778px;max-width: 800px;" id="article" th:data-page-count="${pageCount}"  th:data-category-id="${categoryId}">

    <!--blogsbox begin-->
    <div class="blogsbox" style="width:100%;">
        <h2  style="margin-bottom:20px;">#<span th:text="${categoryName}"></span></h2>
        <div th:each="blog:${data}" class="blogs" data-scroll-reveal="enter bottom over 1s" >
            <h3 class="blogtitle"><a th:href="'/blog/'+${blog.blogId}" th:target="_self" th:text="${blog.title}"></a></h3>

            <p class="blogtext" style="overflow:hidden;white-space: normal;text-overflow: ellipsis;-webkit-line-clamp:1" th:utext="${blog.content}">... </p>
            <div class="bloginfo">
                <ul>
                    <li class="author"><a href="/" >夏海</a></li>
                    <li class="timer" th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2018-5-13</li>
                </ul>
            </div>
        </div>
    </div>
</article>

<script type="text/x-handlebars-template" id="dataTemplate">
    {{#each this}}
    <div  class="blogs" data-scroll-reveal="enter bottom over 1s">
        <h3 class="blogtitle"><a href="/blog/{{blogId}}" th:target="_self" >{{title}}</a></h3>

        {{#if pic}}
        <span class="blogpic" ><a href="/blog/{{pic}}" title=""><img src="{{pic}}" alt=""></a></span>
        {{/if}}

        <p class="blogtext" style="overflow:hidden;white-space: normal;text-overflow: ellipsis;-webkit-line-clamp:1">{{{content}}} </p>
        <div class="bloginfo">
            <ul>
                <li class="timer" >{{moment createTime}}</li>
                <li class="view"><span >{{viewCount}}</span>已阅读</li>
                <li class="like" >{{priseCount}}</li>
            </ul>
        </div>
    </div>
    {{/each}}
</script>


<div th:replace="common/footer :: footer-content"></div>
<a href="#" class="cd-top">Top</a>
<div th:replace="common/footer :: footer-lib"></div>

<script th:src="@{/static/js/conn.js}"></script>
<script th:src="@{/static/js/categorySearch.js}" ></script>

</body>
</html>